#chat-screen {
  background-color: #abc1d1;
  height: 1000vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #abc1d1;
}

#chat-screen .status-bar {
  background-color: #abc1d1;
}

.main-chat {
  margin: 76px -8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  color: #dde3e7;
  background-color: #92a4b2;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-top: 24px;
}

.message-row img {
  width: 48px;
  height: 48px;
  border-radius: 16px;
  margin-right: 12px;
}

.message__author {
  color: rgba(0, 0, 0, 0.4);
  font-size: 18px;
  font-weight: 500;
  margin: 2px 0 8px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 14px;
  border-radius: 16px;
  border-top-left-radius: 0;
  font-weight: 500;
  font-size: 20px;
  margin-right: 8px;
}

.message__time {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 700;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-radius: 16px;
  border-top-right-radius: 0;
  margin: 0 0 0 8px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 8px var(--horizontal-space);
  align-items: center;
  box-sizing: border-box;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  color: #a1a4ab;
}

.reply input {
  width: 100%;
  height: 48px;
  border: 1px solid #dde3e7;
  border-radius: 24px;
  padding: 0 14px;
  font-size: 18px;
  box-sizing: border-box;
}

.reply__column:first-child > i {
  font-size: 32px;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 3px;
  top: 3px;
}

.reply__column:last-child > i {
  right: 69px;
  top: 11px;
  font-size: 28px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

.reply__column button i {
  color: black;
  font-size: 22px;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
