.find-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}

.find-icons__icon {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
}

.find-icons__icon i {
  font-size: 36px;
}

.find-icons__icon span {
  margin-top: 16px;
  font-size: 20px;
  text-align: center;
}

.recommended-friends {
  margin: 24px 0 20px;
  padding: 20px 0 28px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
}

.recommended-friends__title {
  color: var(--grey);
  font-size: 18px;
}

.recommended-friends span {
  display: block;
  margin: 106px 0px;
  text-align: center;
  font-size: 20px;
  color: var(--grey);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--grey);
  font-size: 18px;
  margin-bottom: 20px;
}

.open-chat__header span {
  opacity: 0.7;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-size: 22px;
}

.open-post__hashtags {
  text-transform: uppercase;
  color: var(--grey);
  font-size: 19px;
  margin: 8px 0;
}

.open-post__members {
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin-right: 8px;
}

.open-post__member-count {
  color: var(--grey);
  font-size: 18px;
}

.open-post__members .divider {
  width: 1px;
  height: 16px;
  margin: 0 8px;
  background-color: var(--grey);
}

.open-post__member-status {
  color: #ffb0e0;
  font-weight: 700;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 116px;
  height: 116px;
  border-radius: 8px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 6px 12px;
  border-radius: 28px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 5px;
}

.open-post__heart-count span {
  margin-left: 4px;
}
