#friends-display-link {
  display: block;
  text-align: center;
  background-color: #fafafa;
  padding: 16px 0;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-top: -12px;
}

#friends-display-link i:nth-child(1) {
  color: #d9d9d9;
}

#friends-display-link i:nth-child(2) {
  color: #928383;
  margin-left: 12px;
}

.friends-screen__channel {
  margin-top: 24px;
  border-top: var(--main-border);
  padding-top: 16px;
}

.friends-screen__channel-header {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  color: #b9b9b9;
}
