.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  margin-bottom: 4px;
}

.screen-header__title {
  font-size: 33px;
  font-weight: 500;
}

.screen-header__list {
  display: flex;
  font-size: 14px;
}

.screen-header__icons {
  position: relative;
  margin-left: 24px;
}
