.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component {
  justify-content: space-between;
}

.user-component__profile {
  width: 72px;
  height: 72px;
  border-radius: 24px;
  margin-right: 16px;
}

.user-component__name {
  font-size: 25px;
  font-weight: 700;
}

.user-component__description {
  margin-top: 8px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__profile--lg {
  width: 84px;
  height: 84px;
  border-radius: 28px;
}

.user-component__profile--sm {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.user-component__name--not-bold {
  font-weight: 400;
}

.user-component__column:last-child {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: #b9b9b9;
}

.user-component__amount {
  font-size: 20px;
  margin-right: 4px;
}

.user-component__time {
  display: block;
  margin-bottom: 12px;
  font-size: 15px;
}
